{% extends 'base--loged.html' %}
{% block wrapper--loged %}
    <div class="header__modules">
        <h2 class="header__modules__tittle">Dashboard</h2>
        <div class="header__actions">
            <button class="btn btn--default"><i class="fa fa-plus-circle"></i> Crear Solicitud</button>
        </div>
    </div>
{% endblock %}