<h2 ng-hide="checkingrequests.dataLoaded" >Cargando</h2>

<table ng-show="checkingrequests.dataLoaded">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Solicitante</th>
                        <th>Beneficiario</th>
                        <th>Valor</th>
                        <th>Fecha Solicitud</th>
                        <th>Proyecto</th>
                        <th>Rubro</th>
                        <th>Estado</th>
                        <th>Girado</th>
                        <th></th>
                        <!--{% if user.is_staff %}-->
                            <th></th>
                        <!--{% endif %}-->
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="req in checkingrequests.requests | filter:searchText">
                        <td>{{ req.id }}</td>
                        <td>{{ req.petitioner }}</td>
                        <td>{{ req.beneficiary }}</td>
                        <td>{{ req.value | currency }}</td>
                        <td>{{ req.create_at | date:'yyyy-MM-dd' }}</td>
                        <td>{{ req.project }}</td>
                        <td>{{ req.category }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>