{% extends 'base--loged.html' %}
{% block wrapper--loged %}
    <div class="header__modules">
        <h2 class="header__modules__tittle">Beneficiarios</h2>
        <div class="header__actions">
            <a href="{% url 'beneficiary:add' %}" class="btn btn--default"><i class="fa fa-plus-circle"></i> Crear Beneficiario</a>
        </div>
    </div>
    <section class="list__items__module">
        <table>
            <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for e in object_list %}
                    <tr>
                        <td>{{ e.id }}{% if e.dv %} - {{ e.dv }}{% endif %}</td>
                        <td>{{ e.type.name }}</td>
                        <td>{{ e.name }}</td>
                        <td><a href="{% url 'beneficiary:edit' e.id %}" class="btn btn--warning"><i class="fa fa-edit"></i> Editar</a></td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>

    </section>
{% endblock %}