{% extends 'base--loged.html' %}
{% block wrapper--loged %}
    <div class="header__modules">
        <h2 class="header__modules__tittle">Agregar Beneficiario</h2>
        <div class="header__actions">
            <a href="{% url 'beneficiary:home' %}" class="btn btn--default"><i class="fa fa-arrow-circle-left"></i> Ver Listado</a>
        </div>
    </div>
    <section class="form-modules form-modules__beneficiary">
        <form action="." method="post">
            {% csrf_token %}
            <input type="hidden" id="id_by_user" name="by_user" value="{{ user.id }}"/>
            <div class="form-modules--row form-modules--row-justify">
                {{ form.type.label_tag }} {{ form.type }} {{ form.type.errors }}
            </div>
            <div class="form-modules--row form-modules--row-left">
                {{ form.id.label_tag }} {{ form.id }} - {{ form.dv }} {{ form.id.errors }}
            </div>
            <div class="form-modules--row">
                {{ form.name }} {{ form.name.errors }}
            </div>
            <div class="form-modules--row form-modules--row-right">
                <button type="submit" class="btn btn--default"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </section>
{% endblock %}