{% extends 'base--loged.html' %}
{% load humanize %}
{% load static from staticfiles %}
{% block wrapper--loged %}
    <div class="header__modules">
        <h2 class="header__modules__tittle">Solicitudes pendientes de legalizar</h2>
        <div class="header__actions">
            <a href="{% url 'request:add' %}" class="btn btn--default"><i class="fa fa-plus-circle"></i> Crear Solicitud</a>
        </div>
    </div>
    <section class="list__items__module">
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Solicitante</th>
                    <th>Valor</th>
                    <th>Fecha Solicitud</th>
                    {% if user.is_staff %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for e in object_list %}
                    <tr>
                        <td>{{ e.id }}</td>
                        <td>{{ e.petitioner.name }}</td>
                        <td>{{ e.value|intcomma }}</td>
                        <td>{{ e.create_at|date:"d/m/Y" }}</td>
                        {% if user.is_staff %}
                            <td><a href="" class="btn btn--warning legalize" data-id="{{ e.id }}"><i class="fa fa-edit"></i> Legalizar</a></td>
                        {% endif %}
                    </tr>
                {% endfor%}
            </tbody>
        </table>

        <div class="pagination">
            <div class="step-links step-links--previus">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-circle-left"></i> Anterior</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="current-page">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </div>
            <div class="step-links step-links--next">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente <i class="fa fa-arrow-circle-right"></i></a>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/vendor/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}