{% load static from staticfiles %}
<!doctype html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <title>Agregar {{ field }}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <script src="{% static 'js/RelatedObjectLookups.js' %}"></script>
</head>
<body>
    <div class="row">
        <div class="small-12 columns text-center">
            <h1>Agregar Beneficiario</h1>
        </div>
    </div>

    <section class="form-modules form-modules__beneficiary">
        <form action="/solicitudcheques/solicitudes/add/{{ field }}" method="post">
            {% csrf_token %}
            <input type="hidden" id="id_by_user" name="by_user" value="{{ user.id }}"/>
            <div class="form-modules--row form-modules--row-justify">
                {{ form.type.label_tag }} {{ form.type }} {{ form.type.errors }}
            </div>
            <div class="form-modules--row form-modules--row-left">
                {{ form.id.label_tag }} {{ form.id }} - {{ form.dv }} {{ form.id.errors }}
            </div>
            <div class="form-modules--row">
                {{ form.name }} {{ form.name.errors }}
            </div>
            <div class="form-modules--row form-modules--row-right">
                <button type="submit" class="btn btn--default"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </section>
</body>
</html>