{% extends 'base--loged.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% block wrapper--loged %}
    <div class="header__modules">
        <h2 class="header__modules__tittle">Solicitud de cheque No. {{ object.id }}</h2>
        <div class="header__actions">
            <a href="{% url 'request:home' %}" class="btn btn--default"><i class="fa fa-arrow-circle-left"></i> Volver al listado</a>
        </div>
    </div>
    <div class="detail__modules">
        <p><strong>Beneficiario:</strong> {{ object.beneficiary.name }}</p>

        <p><strong>Identificación:</strong> {{ object.beneficiary.id }}{% if object.beneficiary.dv %} - {{ object.beneficiary.dv }}{% endif %}</p>

        <p><strong>Descripción:</strong> {{ object.description }}</p>

        <p><strong>Proyecto:</strong> {{ object.project.name }}</p>

        <p><strong>Rubro contable:</strong> {{ object.category.name }}</p>

        <p><strong>Valor:</strong> $ {{ object.value|intcomma }}</p>

        <p><strong>Estrategia:</strong> {{ object.strategy.name }}</p>

        <p><strong>Tipo de solicitud:</strong> {{ object.request_type.type_request }}</p>

        <p><strong>Fecha de solicitud:</strong> {{ object.create_at.date }}</p>

        <p><strong>Fecha de evento:</strong> {{ object.date_event }}</p>

        <p><strong>Observaciones:</strong> {{ object.observations }}</p>

        <p><strong>Empleado que solicita</strong> {{ object.petitioner.name }}</p>

{#        <p><strong></strong></p>#}
    </div>
{% endblock %}