{% extends 'base--loged.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% block wrapper--loged %}
    <div class="header__modules">
        <h2 class="header__modules__tittle">Solicitudes</h2>
        <div class="header__actions">
            <a href="{% url 'request:search' %}" class="btn btn--default"><i class="fa fa-search"></i> Buscar</a>
            <a href="{% url 'request:add' %}" class="btn btn--default"><i class="fa fa-plus-circle"></i> Crear Solicitud</a>
        </div>
    </div>
    <section class="list__items__module">
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Solicitante</th>
                    <th>Beneficiario</th>
                    <th>Valor</th>
                    <th>Fecha Solicitud</th>
                    <th>Proyecto</th>
                    <th>Rubro</th>
                    <th>Estado</th>
                    <th>Girado</th>
                    <th></th>
                    {% if user.is_staff %}
                        <th></th>
                    {% endif %}
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for e in object_list %}
                    <tr>
                        <td>{{ e.id }}</td>
                        <td>{{ e.petitioner.name }}</td>
                        <td>{{ e.beneficiary.name }}</td>
                        <td>{{ e.value|intcomma }}</td>
                        <td>{{ e.create_at|date:"d/m/Y" }}</td>
                        <td>{{ e.project.name }}</td>
                        <td>{{ e.category.name }}</td>
                        <td>{% if e.state %}<i class="fa fa-check-square-o success"></i>{% else %}<i class="fa fa-square-o failure"></i>{% endif %}</td>
                        <td>
                            {% if e.turned %}
                                <i class="fa fa-check-square-o success"></i>
                            {% else %}
                                {% if user.is_staff %}
                                    <a href="#" class="turn" data-id="{{ e.id }}"><i class="fa fa-square-o failure"></i></a>
                                {% else %}
                                    <i class="fa fa-square-o failure"></i>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td><a href="{% url 'request:detail' e.id %}" class="btn btn--default"><i class="fa fa-eye"></i></a></td>
                        {% if user.is_staff %}
                            <td>
                                {% if e.state and e.approved %}
                                    <a href="{% url 'request:print' e.id %}" class="btn btn--default" title="Imprimir"><i class="fa fa-print"></i></a>
                                {% elif e.state and not e.approved and perms.reqcheck.can_auth_request %}
                                    <a href="#" class="btn btn--success approve" title="Aprobar" data-id="{{ e.id }}"><i class="fa fa-thumbs-up"></i></a>
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            {% if not e.approved and not e.turned and e.state or user.is_staff %}
                                <a href="{% url 'request:edit' e.id %}" class="btn btn--warning" title="Editar"><i class="fa fa-edit"></i></a>

                            {% endif %}
                        </td>
                        <td>
                            {% if not e.approved and not e.turned and e.state or user.is_staff and e.state %}
                                <a href="#" class="btn btn--warning cancel" title="Cancelar" data-id="{{ e.id }}"><i class="fa fa-times-circle"></i></a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor%}
            </tbody>
        </table>

        <div class="pagination">
            <div class="step-links step-links--previus">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-circle-left"></i> Anterior</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="current-page">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </div>
            <div class="step-links step-links--next">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente <i class="fa fa-arrow-circle-right"></i></a>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>

    </section>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/vendor/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}