{% extends 'base--loged.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/default.date.css' %}"/>
{% endblock %}
{% block wrapper--loged %}
    <div class="header__modules">
        <h2 class="header__modules__tittle">Solicitudes</h2>
        <div class="header__actions">
            <a href="{% url 'request:home' %}" class="btn btn--default"><i class="fa fa-arrow-circle-left"></i> Ver Listado</a>
            <a href="{% url 'request:add' %}" class="btn btn--default"><i class="fa fa-plus-circle"></i> Crear Solicitud</a>
        </div>
    </div>
    <div class="header__modules header__modules__search">
        <form id="form_search" action="." method="post">
            {% csrf_token %}
{#            Desde: {{ queryset.form.date_event__gte }}#}
{#            Hasta:{{ queryset.form.date_event__lte }}#}
            {{ form }}
            <button class="btn btn--default" type="submit"><i class="fa fa-search"></i> Buscar</button>
            <button class="btn btn--default" type="button" id="reset_form"><i class="fa fa-close"></i> Borrar</button>
        </form>
    </div>
    <section class="list__items__module">
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Solicitante</th>
                    <th>Beneficiario</th>
                    <th>Valor</th>
                    <th>Fecha Solicitud</th>
                    <th>Proyecto</th>
                    <th>Rubro</th>
                    <th>Estado</th>
                    <th>Girado</th>
                    <th></th>
                    {% if user.is_staff %}
                        <th></th>
                    {% endif %}
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for e in queryset %}
                    <tr>
                        <td>{{ e.id }}</td>
                        <td>{{ e.petitioner.name }}</td>
                        <td>{{ e.beneficiary.name }}</td>
                        <td>{{ e.value|intcomma }}</td>
                        <td>{{ e.create_at|date:"d/m/Y" }}</td>
                        <td>{{ e.project.name }}</td>
                        <td>{{ e.category.name }}</td>
                        <td>{% if e.state %}<i class="fa fa-check-square-o success"></i>{% else %}<i class="fa fa-square-o failure"></i>{% endif %}</td>
                        <td>
                            {% if e.turned %}
                                <i class="fa fa-check-square-o success"></i>
                            {% else %}
                                {% if user.is_staff %}
                                    <a href="#" class="turn" data-id="{{ e.id }}"><i class="fa fa-square-o failure"></i></a>
                                {% else %}
                                    <i class="fa fa-square-o failure"></i>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td><a href="{% url 'request:detail' e.id %}" class="btn btn--default"><i class="fa fa-eye"></i></a></td>
                        {% if user.is_staff %}
                            <td>
                                {% if e.state %}
                                    <a href="{% url 'request:print' e.id %}" class="btn btn--default" title="Imprimir"><i class="fa fa-print"></i></a>
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            {% if not e.printed and not e.turned and e.state %}
                                <a href="{% url 'request:edit' e.id %}" class="btn btn--warning" title="Editar"><i class="fa fa-edit"></i></a>

                            {% endif %}
                        </td>
                        <td>
                            {% if not e.printed and not e.turned and e.state %}
                                <a href="#" class="btn btn--warning cancel" title="Cancelar" data-id="{{ e.id }}"><i class="fa fa-times-circle"></i></a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor%}
            </tbody>
        </table>

    </section>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/vendor/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/vendor/picker.js' %}"></script>
    <script src="{% static 'js/vendor/picker.date.js' %}"></script>
    <script src="{% static 'js/vendor/translations/es_ES.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#id_from_date, #id_to_date').pickadate(
                    {
                        format: 'dd/mm/yyyy'
                    }
            );
        });
    </script>
{% endblock %}