{% extends 'base--loged.html' %}
{% load static from staticfiles %}
{% block wrapper--loged %}
    <div class="header__modules">
        <h2 class="header__modules__tittle">Crear Solicitud</h2>
        <div class="header__actions">
            <a href="{% url 'request:home' %}" class="btn btn--default"><i class="fa fa-arrow-circle-left"></i> Ver Listado</a>
        </div>
    </div>
    <section class="form-modules form-modules__request">
        <form action="." method="post">
            {{ form.media }}
            {% csrf_token %}
            <input type="hidden" id="id_by_user" name="by_user" value="{{ user.id }}"/>
            <div class="form-modules--row form-modules--row-justify">
                <div class="quarter-width">{{ form.request_type.label_tag }}{{ form.request_type }}{{ form.request_type.errors }}</div>
                <div class="quarter-width">{{ form.strategy.label_tag }}{{ form.strategy }}{{ form.strategy.errors }}</div>
                <div class="quarter-width">{{ form.project.label_tag }}{{ form.project }}{{ form.project.errors }}</div>
                <div class="quarter-width"><label for="id_category">Rubro contable:</label>{{ form.category }}{{ form.category.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="half-width">{{ form.petitioner.label_tag }}{{ form.petitioner }}{{ form.petitioner.errors }}</div>
                <div class="half-width">{{ form.beneficiary.label_tag }}{{ form.beneficiary }}{{ form.beneficiary.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="half-width">{{ form.description.label_tag }}</div>
                <div class="half-width">{{ form.description.help_text }}</div>
            </div>
            <div class="form-modules--row">
                <div class="full-width">{{ form.description }}{{ form.description.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="full-width">{{ form.observations.label_tag }}{{ form.observations }}{{ form.observations.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="half-width">{{ form.date_event.label_tag }}{{ form.date_event }}{{ form.date_event.errors }}</div>
                <div class="half-width">{{ form.value.label_tag }}{{ form.value }}{{ form.errors }}</div>
            </div>
            {{ form.state.as_hidden }}

            <div class="form-modules--row form-modules--row-right">
                <button type="submit" class="btn btn--default"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </section>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/vendor/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/vendor/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#id_beneficiary').chosen();
        });
    </script>
{% endblock %}