{% load static from staticfiles %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Solicitud de cheques</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    {% block css %}{% endblock %}
    {% block jsTop %}{% endblock %}
</head>
<body>
    {% block main %}{% endblock %}
    {% block js %}{% endblock %}
</body>
</html>