{% extends 'base.html' %}
{% load static from staticfiles %}
{% block main %}
    <header class="header">
        <div class="header__wrapper">
            <h1 class="header__tittle">Solicitud de Cheques</h1>
            {% block header--loged %}{% endblock %}
            <div class="header__actions">
                <a href="{% url 'base:logout' %}" class="header__actions__buttons">
                    <i class="fa fa-sign-out"></i>
                </a>
                <p class="header__user"><i class="fa fa-user"></i> {{ user.get_full_name }}</p>
            </div>
        </div>
    </header>
    <div class="wrapper--loged">
        <section class="sidebar">
            <nav>
                <ul class="nav--list">
                    {% for i in menu %}
                        <li class="nav--item"><a href="{{ i.url }}" {% if i.active %}class="active" {% endif %}><i class="fa fa-{{ i.icon }}"></i>{{ i.name }}</a></li>
                    {% endfor %}
                    {% if user.is_superuser %}
                        <h3>Administración</h3>
                        {% for i in menu_admin %}
                            <li class="nav--item"><a href="{{ i.url }}" {% if i.active %}class="active" {% endif %}><i class="fa fa-{{ i.icon }}"></i>{{ i.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </nav>
        </section>
        <section class="main">
            {% block wrapper--loged %}te{% endblock %}
        </section>
    </div>
    <footer class="footer">
        <p>Corporación Viva la Ciudadanía</p>
        {% block footer-loged %}{% endblock %}
    </footer>
{% endblock %}
{% block js %}

{% endblock %}
