/* BUTTONS */
.btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  display: inline-block;
  line-height: 0;
  padding: 0.5em;
  text-decoration: none;
}
.btn--default {
  background-color: #4169e1;
  color: #fff;
}
.btn--success {
  background-color: #228b22;
  color: #fff;
}
.btn--warning {
  background-color: #cd5c5c;
  color: #eee;
}
