input {
  border: 1px solid #ccc;
  padding: 0.5em;
}
label {
  display: inline-block;
  line-height: 36px;
}
select {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  width: 100%;
}
textarea {
  height: 100px;
  width: 100%;
}
.input--full-width {
  width: 100%;
}
.input--2d {
  width: 2em;
}
.select--full-width {
  width: 100%;
}
