@import 'normalize.css';
@import 'font-awesome.css';
@import 'chosen.css';
.btn {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  display: inline-block;
  line-height: 0;
  padding: 0.5em;
  text-decoration: none;
}
.btn--default {
  background-color: #4169e1;
  color: #fff;
}
.btn--success {
  background-color: #228b22;
  color: #fff;
}
.btn--warning {
  background-color: #cd5c5c;
  color: #eee;
}
input {
  border: 1px solid #ccc;
  padding: 0.5em;
}
label {
  display: inline-block;
  line-height: 36px;
}
select {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  width: 100%;
}
textarea {
  height: 100px;
  width: 100%;
}
.input--full-width {
  width: 100%;
}
.input--2d {
  width: 2em;
}
.select--full-width {
  width: 100%;
}
table {
  text-align: left;
  width: 100%;
}
td,
th {
  padding-left: 1em;
}
thead {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  line-height: 32px;
}
tbody tr {
  line-height: 40px;
}
tbody tr:nth-child(even) {
  background-color: #e1f5fe;
}
@font-face {
  font-family: 'lato';
  src: url("../fonts/Lato-Regular-webfont.eot");
  src: url("../fonts/Lato-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Lato-Regular-webfont.woff2") format('woff2'), url("../fonts/Lato-Regular-webfont.woff") format('woff'), url("../fonts/Lato-Regular-webfont.ttf") format('truetype'), url("../fonts/Lato-Regular-webfont.svg#latoregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}
form {
  width: 100%;
}
html,
body {
  height: 100%;
}
/* LOGIN */
.wrapper--login {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.login-container {
  margin: 0 auto;
/*width 300px*/
}
.login-tittle {
  text-align: center;
}
.form-login {
  background-color: #fff;
  border: 1px solid #000;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  margin: 0 auto;
  width: 300px;
}
.form-login__header {
  background-color: #ccc;
  -webkit-border-radius: 1em 1em 0 0;
  border-radius: 1em 1em 0 0;
  text-align: center;
  margin-bottom: 1em;
}
.form-login__title {
  -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.5);
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.5);
  margin: 0;
  padding: 0.5em;
}
.form-login__content {
  padding: 0.5em 1em;
}
.form-login__input {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-bottom: 0.5em;
}
.form-login__label--user,
.form-login__label--pass {
  background-color: rgba(147,128,108,0.1);
  padding: 0.5em 0.75em;
}
.form-login__label--user:first-child,
.form-login__label--pass:first-child {
  border: 1px solid #ccc;
  -webkit-border-radius: 0.25em 0 0 0.25em;
  border-radius: 0.25em 0 0 0.25em;
}
.form-login__input--user,
.form-login__input--pass {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.form-login__input--user:last-child,
.form-login__input--pass:last-child {
  -webkit-border-radius: 0 0.25em 0.25em 0;
  border-radius: 0 0.25em 0.25em 0;
  border-left: 0;
}
.form-login__actions {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
/* BASIC LAYOUT */
.header {
  background-color: #26a69a;
  line-height: 48px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}
.header__tittle {
  margin: 0 0 0 1em;
}
.header__actions__buttons {
  color: #000;
  text-decoration: none;
}
.header__actions__buttons:hover {
  color: #fff;
}
.header__user {
  background-color: #00897b;
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0 1em;
}
.wrapper--loged {
  height: 100%;
  padding-left: 180px;
  padding-top: 48px;
  width: 100%;
}
.sidebar {
  background-color: #e0f7fa;
  border-right: 1px solid #00bcd4;
  height: 100%;
  left: 0;
  padding: 48px 0;
  position: fixed;
  top: 0;
  width: 180px;
}
.nav--list {
  margin: 0;
  list-style: none;
  padding: 1em 0 0 0;
}
.nav--item a {
  color: #333;
  display: block;
  line-height: 23px;
  padding: 0.25em 1em;
  text-decoration: none;
}
.nav--item a i {
  width: 1.5em;
}
.nav--item a:hover {
  background-color: #80deea;
  font-weight: bold;
}
.nav--item a.active {
  background-color: #4dd0e1;
  font-weight: bold;
}
.main {
  margin: 0 0 48px;
  min-height: 100%;
  padding: 1em 0.5em;
}
.header__modules {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 40px;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.header__modules__tittle {
  line-height: 40px;
  margin: 0;
}
.header__modules__search--hide {
  display: none;
}
.header__modules__search--show {
  display: block;
}
.list__items__module {
  margin-top: 0.5em;
}
.form-modules {
  padding-top: 1em;
}
.form-modules__beneficiary {
  margin: 0 auto;
  width: 40%;
}
.form-modules--row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 0.5em 0;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.form-modules--row-justify {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.form-modules--row-left {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.form-modules--row-right {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.footer {
  background-color: #bdbdbd;
  bottom: 0;
  height: 48px;
  position: fixed;
  width: 100%;
}
/* HELPERS */
.success {
  color: #228b22;
}
.failure {
  color: #cd5c5c;
}
.pagination {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.current-page {
  margin: 0.5em 1em;
}
.step-links {
  margin: 0.5em 0;
}
.step-links a {
  color: #333;
  text-decoration: none;
}
.step-links a:hover {
  text-decoration: underline;
}
.step-links--previus {
  text-align: right;
}
.step-links--next {
  text-align: left;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 49%;
}
.quarter-width {
  width: 24%;
}
.chosen-container {
  width: 491px !important;
}
.errorlist {
  color: #cd5c5c;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}
