table {
  text-align: left;
  width: 100%;
}
td,
th {
  padding-left: 1em;
}
thead {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  line-height: 32px;
}
tbody tr {
  line-height: 40px;
}
tbody tr:nth-child(even) {
  background-color: #e1f5fe;
}
