/* BUTTONS */

.btn
    background-color #ffffff
    border 1px solid #CCCCCC
    border-radius 0.25em
    display inline-block
    line-height 0
    padding 0.5em
    text-decoration none

.btn--default
    background-color royalblue
    color #ffffff

.btn--success
    background-color forestgreen
    color #ffffff

.btn--warning
    background-color indianred
    color #eeeeee