@import 'nib'
@import 'normalize.css'
@import 'font-awesome.css'
@import 'chosen.css'
@import 'btn'
@import 'inputs'
@import 'table'

@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Regular-webfont.eot');
    src: url('../fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Lato-Regular-webfont.woff') format('woff'),
         url('../fonts/Lato-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*
    box-sizing border-box
    font-family "lato", sans-serif

form
    width 100%

html, body
    height 100%

/* LOGIN */

.wrapper--login
    display flex
    height 100%
    align-items center

.login-container
    margin 0 auto
    /*width 300px*/

.login-tittle
    text-align center

.form-login
    background-color #ffffff
    border 1px solid #000000
    border-radius 1em
    margin 0 auto
    width 300px

.form-login__header
    background-color #cccccc
    border-radius 1em 1em 0 0
    text-align center
    margin-bottom 1em

.form-login__title
    box-shadow 0 2px 0 0 rgba(0, 0, 0, 0.5)
    margin 0
    padding 0.5em

.form-login__content
    padding 0.5em 1em

.form-login__input
    display flex
    margin-bottom 0.5em

.form-login__label--user,
.form-login__label--pass
    background-color: rgba(147, 128, 108, 0.1);
    padding 0.5em 0.75em
    &:first-child
        border 1px solid #CCCCCC
        border-radius 0.25em 0 0 0.25em

.form-login__input--user,
.form-login__input--pass
    flex 1
    &:last-child
        border-radius 0 0.25em 0.25em 0
        border-left 0

.form-login__actions
    display flex
    justify-content flex-end

/* BASIC LAYOUT */

.header
    background-color #26a69a
    line-height 48px
    position fixed
    width 100%
    z-index 1000

.header__wrapper
    display flex
    height 100%
    justify-content space-between
    width 100%

.header__tittle
    margin 0 0 0 1em

.header__actions
    &__buttons
        color #000000
        text-decoration none
        &:hover
            color #ffffff

.header__user
    background-color #00897b
    display inline-block
    height 100%
    margin 0
    padding 0 1em

.wrapper--loged
    height 100%
    padding-left 180px
    padding-top 48px
    width 100%

.sidebar
    background-color #e0f7fa
    border-right 1px solid #00bcd4
    height 100%
    left 0
    padding 48px 0
    position fixed
    top 0
    width 180px

.nav--list
    margin 0
    list-style none
    padding 1em 0 0 0

.nav--item
    a
        color #333333
        display block
        line-height 23px
        padding 0.25em 1em
        text-decoration none
        i
            width 1.5em
        &:hover
            background-color #80deea
            font-weight bold
        &.active
            background-color #4dd0e1
            font-weight bold

.main
    margin 0 0 48px
    min-height 100%
    padding 1em 0.5em

.header__modules
    border-bottom 1px solid #cccccc
    display flex
    height 40px
    justify-content space-between

    &__tittle
        line-height 40px
        margin 0

    &__search
        &--hide
            display none
        &--show
            display block

.list__items
    &__module
        margin-top 0.5em

.form-modules
    padding-top 1em

    &__beneficiary
        margin 0 auto
        width 40%

    &--row
        display flex
        margin 0.5em 0
        align-items center
        &-justify
            justify-content space-between
        &-left
            justify-content flex-start
        &-right
            justify-content flex-end


.footer
    background-color #bdbdbd
    bottom 0
    height 48px
    position fixed
    width 100%

/* HELPERS */
.success
    color #228b22

.failure
    color #cd5c5c

.pagination
    display flex
    justify-content center
    text-align center
    width 100%

.current-page
    margin 0.5em 1em

.step-links
    margin 0.5em 0
    a
        color #333333
        text-decoration none
        &:hover
            text-decoration underline
    &--previus
        text-align right
    &--next
        text-align left

.full-width
    width 100%
.half-width
    width 49%
.quarter-width
    width 24%

.chosen-container
    width 491px !important

.errorlist
    color #cd5c5c
    font-weight bold
    list-style none
    margin 0
    padding 0